* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@mixin responsive($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
@include responsive(0px, 449px) {
  .navbar {
    width: 450px;
  }
  .home_content,
  .lifestyle_section,
  .shopping_section,
  .food_section,
  .sport_section {
    width: 450px;
  }
  .footer_section {
    width: 450px;
  }
}
@include responsive(0px, 575px) {
    .navbar{
        form{
            display: none;
        }
    }
  .home_content, 
  .lifestyle_section,
  .shopping_section,
  .food_section,
  .sport_section {
    img {
        height: 320px !important;
      }
    .home_content_top {
      margin: 25px 0px;
      padding: 0px;
      h1 {
        font-size: 35px;
        text-align: left !important;
        font-weight: 700;
      }
      p {
        text-align: left !important;
        padding-top: 15px;
        margin: 0px;
        font-size: 20px;
      }
    }
  }
  .footer_section {
    .footer_section_mid_left {
      .article {
        display: block !important;
        .article_head {
          img {
            width: 100% !important;
            height: 100% !important;
          }
        }
        .article_content {
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding-bottom: 20px !important;
        }
      }
    }
    .footer_section_mid_right {
      h2 {
        padding: 18px 0px !important;
      }
      form {
        display: block!important;
        .input_field{
            margin-bottom: 20px;
            input {
                margin-right: 18px !important;
                width: 100%!important;
            }
        }
        button{
            width: 100%!important;
        }
      }
    }
    .footer_section_bottom {
      display: block !important;
      .copyright {
        padding: 5px 0px;
      }
    }
  }
}
@include responsive(450px, 575px) {
  .home_content {
    .container {
      max-width: 480px;
    }
  }
}
@include responsive(576px, 767px) {
  .navbar{
    form{
        display: none;
    }
}
.home_content, 
.lifestyle_section,
.shopping_section,
.food_section,
.sport_section {
  img {
      height: 320px !important;
    }
  .home_content_top {
    margin: 25px 0px;
    padding: 0px;
    h1 {
      font-size: 35px;
      text-align: left !important;
      font-weight: 700;
    }
    p {
      text-align: left !important;
      padding-top: 15px;
      margin: 0px;
      font-size: 20px;
    }
  }
}
.footer_section {
  .container{
    min-width: 560px;
  }
  .footer_section_mid_left {
    .article {
      .article_content {
        padding-right: 0px!important;
      }
    }
  }
  .footer_section_mid_right {
    form {
     input{
      min-width: 340px;
     }
     .button_label{
      margin-left: 10px;
     }
    }
  }
  .footer_section_bottom {
    display: block !important;
    .copyright {
      padding: 5px 0px;
    }
  }
} 
}
@include responsive(768px, 991px) {
  .navbar{
    form{
        display: none;
    }
}
.home_content, 
.lifestyle_section,
.shopping_section,
.food_section,
.sport_section {
  img {
    height: 450px !important;
  }
  .home_content_top {
    margin: 30px 0px;
    padding: 0px;
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    p {
      padding: 15px 0px 25px 0px;
      margin: 10px 60px;
      font-size: 22px;
    }
  }
  .home_content_bottom{
    img {
      height: 320px !important;
    }
    .row{
      display: flex!important;
      flex-direction: row!important;
    }
  }
}
.footer_section {
  .container{
    .footer_section_mid_right {
      form {
       input{
        min-width: 440px;
       }
       .button_label{
        margin-left: 10px;
       }
      }
  }
  }
}
}



@include responsive(0px, 449px) {
  .latest_section,.author_page, .about_para_section, .contact_para_section{
    width: 455px;
  }
}
@include responsive(0px, 767px) {
  .latest_section, .author_page, .about_contact_section{
    .container{
        .latest_section_top, .author_page_top, .about_contact_content{
            padding: 20px 0px;
            h1{
              padding: 10px 0px 30px 0px;
            }
        }
    }
  }
}
@include responsive(768px, 991px) {
  .latest_section, .author_page, .about_contact_section{
    .container{
        .latest_section_top, .author_page_top, .about_contact_section, .about_contact_content{
            padding: 30px 0px;
            h1{
              padding: 20px 0px 40px 0px;
            }
        }
    }
  }
}
 @include responsive(450px, 575px) {
.latest_section, .author_page{
  .container{
    max-width: 435px;
  }
}
 }


//Responsive of BannerContent component
@include responsive(0px, 767px) {
  .banner_content {
    padding: 25px 5px 0px 5px;
    .banner_content_top{
        h1{
            font-size: 35px;
            font-weight: 700;
            margin: 14px 0 0 0;
        }
    }
    .banner_content_bottom{
        .bottom_left_content{
            img{
             margin-left: 50%;
             transform: translateX(-50%);
            }
            .post_author_details{
                padding-bottom: 20px;
            }
        }
    }
  }
}
@include responsive(0px, 449px) {
  .banner_content{
    width: 455px;
    padding: 25px 10px 0px 10px;
    
}
}
@include responsive(450px, 575px) {
  .banner_content {
    .container {
      max-width: 500px;
    }
  }
}
@include responsive(576px, 767px) {
  .banner_content {
    .container {
      max-width: 650px;
    }
  }
}
@include responsive(768px, 991px) {
  .banner_content {
    padding: 25px 5px 0px 5px;
    .container {
      max-width: 800px;
      .banner_content_top{
        h1{
            font-size: 45px;
            font-weight: 700;
            margin: 18px 0 0 0;
        }
    }
    .banner_content_bottom{
        .bottom_left_content{
            img{
             margin-left: 50%;
             transform: translateX(-50%);
            }
            .post_author_details{
                padding-bottom: 20px;
            }
        }
    }
    }
  }
}
@include responsive(992px, 1200px) {
  .banner_content {
    padding: 35px 5px 0px 5px;
    .container {
      width: 1100px;
      .banner_content_top{
        h1{
            font-size: 50px;
            font-weight: 700;
        }
    }
    }
  }
}
//Responsive of BannerContent component